
img{
	height:100%;
	width:30%;
	opacity:1;
}
.movieDetail{
	position:center;
	top:10px;
	width:40%;
	text-align:center;
	font-size:18px;
	
}
.div-1{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}